@charset "UTF-8";

.nav-drawer {
  position: relative;
  padding: 2rem 0;
  display: none;
}

@media (max-width: 768px) {
  .nav-drawer {
    display: block;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  right: 0;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: "";
  cursor: pointer;
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*中身*/
#nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  /*最前面に*/
  width: 76%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #fff;
  /*背景色*/
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
  /*左に隠しておく*/
}

#nav-content ul {
  padding: 5rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

#nav-content ul li {
  text-decoration: none;
  margin-left: 0;
  display: block;
  font-size: 2.6rem;
  margin-bottom: 4rem;
}

#nav-content ul li:hover:after {
  width: 100%;
}

#nav-content ul li a {
  letter-spacing: 0.126em;
  color: #646464;
  text-decoration: none;
  padding: 0 0.3em;
  position: relative;
  font-weight: 600;
  opacity: 1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: opacity 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

#nav-content ul li a:after {
  --scale: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background: #ddbc36;
  -webkit-transform: scaleX(var(--scale));
  transform: scaleX(var(--scale));
  -webkit-transform-origin: var(--x) 50%;
  transform-origin: var(--x) 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1),
    -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
}

#nav-content ul li a:hover {
  opacity: 0.7;
}

#nav-content ul li a:hover:after {
  --scale: 1;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

#is-loading {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 8;
}

#loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  text-align: center;
  color: #fff;
  z-index: 9;
}
