---
import { Icon } from "astro-icon";
import Swiper from "../components/Swiper.astro";
import Blog from "../components/top/Blog.astro";
import Layout from "../layouts/Layout.astro";

type SkillType = {
  name: string;
  image: string;
};

const skills: SkillType[] = [
  { name: "HTML5", image: "/images/html.png" },
  { name: "CSS3", image: "/images/css.png" },
  { name: "JavaScript", image: "/images/js.png" },
  { name: "jQuery", image: "/images/jquery.png" },
  { name: "Sass", image: "/images/sass.png" },
  { name: "PHP", image: "/images/php.png" },
  { name: "GitHub", image: "/images/github.png" },
  { name: "WordPress", image: "/images/wordpress.png" },
];
---

<Layout>
  <section class="mainvisual bg-main bg-center bg-no-repeat pt-[80px]">
    <div
      class="header-main relative mt-[5.6rem] mb-[1rem] flex flex-nowrap items-center px-5 sm:mx-auto sm:mt-[56px] sm:mb-0 sm:w-[86%] sm:px-0"
    >
      <div class="header-main-text text-white">
        <h2
          class="mainvisual-ttl font-accent text-[4rem] font-bold leading-[1.2] after:mt-4 after:mb-4 after:block after:h-[4px] after:w-[80%] after:bg-accent sm:text-[6rem] sm:after:w-[50%]"
        >
          WELCOME<span class="block">TO THE</span><span class="block"
            >WORLD OF</span
          ><span class="block">ARIMURA RYOMA</span>
        </h2>
        <p
          class="mainvisual-text font-accent text-[2rem] leading-[1.4] sm:text-[3rem]"
        >
          I'm Ryoma <span class="block">a web developer</span> based in Osaka, Japan.
        </p>
      </div>
    </div>
    <div class="scroll-arrow-wrap pb-16 text-center sm:pb-10">
      <a
        href="#about"
        class="scroll-arrow relative inline-block pt-[70px] text-white"
        ><span
          class="absolute top-0 left-1/2 -ml-3 box-border h-6 w-6 -rotate-45 animate-sdb border-l border-b border-b-white border-l-white"
        ></span>Scroll</a
      >
    </div>
  </section>
  <main id="main">
    <section
      class="profile inner mx-[calc(50%_-_50vw)] w-screen bg-[#f8f8f8] py-32 sm:py-[160px]"
      id="about"
    >
      <div
        class="ttl section-ttl mb-24 flex flex-col items-center justify-center font-bold"
      >
        <h2
          class="ttl-text1 font-accent text-[3rem] after:mt-2 after:block after:h-1 after:bg-accent sm:text-[5rem]"
        >
          ABOUT ME
        </h2>
        <p class="ttl-text2 mt-4 text-[1.6rem]">Who I am</p>
      </div>

      <div
        class="profile-content mx-auto w-[86%] justify-center sm:flex sm:w-auto"
      >
        <p
          class="profile-content-image mx-auto mb-[1.6rem] w-1/2 sm:mx-0 sm:mr-16 sm:mb-0 sm:w-[15%]"
        >
          <img src="/images/ico_ryoma.jpg" alt="" />
        </p>
        <div class="profile-content-box w-full sm:w-2/5">
          <div class="mb-8 flex items-center gap-4">
            <h2
              class="profile-content-box-ttl text-center font-accent text-[2rem] sm:text-left"
            >
              Arimura Ryoma
            </h2>
            <a
              href="https://github.com/Ryoma0305"
              target="_blank"
              class="transiton duration-300 hover:opacity-60"
            >
              <Icon name="github" width="24px" height="24px" />
            </a>
          </div>
          <div class="profile-content-box-text text-[1.4rem] leading-[1.6]">
            <p>
              大阪出身、１９９１年生まれの３２歳。<br />
              Web制作、コーディングが大好きです。Web制作に出会い、これからの人生で本当にやりたいことを見つけられたと思っています。<br
              />
              Web制作のスキルを上げる為、日々勉強に励んでいます。<br />
              趣味はサッカー観戦。週末は応援するマイクラブの試合を観にスタジアムに通っています。
              どうぞよろしくお願いします。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="skill bg-[f8f8f8] pt-20 sm:pt-[12vw]">
      <div class="ttl inner font-bold">
        <div
          class="ttl section-ttl mb-24 flex flex-col items-center justify-center font-bold"
        >
          <h2
            class="ttl-text1 font-accent text-[3rem] after:mt-2 after:block after:h-1 after:bg-accent sm:text-[5rem]"
          >
            SKILLS
          </h2>
          <p class="ttl-text2 mt-4 text-[1.6rem]">What I do</p>
        </div>
      </div>
      <div class="skill-wrapper">
        <ul
          class="skill-box inner flex flex-wrap justify-between before:order-1 before:block before:w-[24%] after:block after:w-[24%]"
        >
          {
            skills.map((item) => (
              <li class="skill-box-content mb-32 flex w-[48%] flex-col items-center justify-start text-[1.6rem] tracking-widest sm:w-[24%]">
                <p class="skill-box-content-image mx-auto mb-8 w-32">
                  <img src={item.image} alt={item.name} />
                </p>
                <p class="skill-box-content-ttl mb-8 text-center">
                  {item.name}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
    <Blog />
    <Swiper />
  </main>
</Layout>
<!-- <script>
  const swiper = new Swiper(".swiper", {
    loop: true,
    slidesPerView: 3,
    speed: 6000,
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      delay: 0, // 途切れなくループ
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script> -->
<style>
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide img {
    height: auto;
    width: 100%;
  }
</style>
