---
import Swiper from "../components/Swiper.astro";
import Blog from "../components/top/Blog.astro";
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider";
---

<Layout>
  <section class="mainvisual">
    <div class="header-main">
      <div class="header-main-text">
        <h2 class="robot mainvisual-ttl">
          WELCOME<span>TO THE</span><span>WORLD OF</span><span
            >ARIMURA RYOMA</span
          >
        </h2>
        <p class="robot mainvisual-text">
          I'm Ryoma <span>a web developer</span> based in Osaka, Japan.
        </p>
      </div>
    </div>
    <div class="scroll-arrow-wrap">
      <a href="#about" class="scroll-arrow"><span></span>Scroll</a>
    </div>
  </section>
  <main id="main">
    <section class="profile inner" id="about">
      <div class="ttl section-ttl">
        <h2 class="robot ttl-text1">ABOUT ME</h2>
        <p class="ttl-text2 notosans">Who I am</p>
      </div>

      <div class="profile-content">
        <p class="profile-content-image">
          <img src="/images/ico_ryoma.jpg" alt="" />
        </p>
        <div class="profile-content-box">
          <h2 class="profile-content-box-ttl robot">Arimura Ryoma</h2>
          <div class="profile-content-box-text notosans">
            <p>
              大阪出身、１９９１年生まれの２９歳。<br />
              Web制作、コーディングが大好きです。Web制作に出会い、これからの人生で本当にやりたいことを見つけられたと思っています。<br
              />
              Web制作のスキルを上げる為、日々勉強に励んでいます。<br />
              趣味はサッカー観戦。週末は応援するマイクラブの試合を観にスタジアムに通っています。
              どうぞよろしくお願いします。
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="skill">
      <div class="ttl inner">
        <div class="ttl section-ttl">
          <h2 class="robot ttl-text1">SKILLS</h2>
          <p class="ttl-text2 notosans">What I do</p>
        </div>
      </div>
      <div class="skill-wrapper">
        <ul class="skill-box inner">
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/html.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">HTML5</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/css.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">CSS3</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/js.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">JavaScript</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/jquery.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">jQuery</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/sass.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">Sass</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/php.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">PHP</p>
          </li>
          <!-- <li class="skill-box-content">
							<p class="skill-box-content-image"><img
										src="/images/laravel.png" alt=""></p>
							<p class="skill-box-content-ttl">Laravel</p>
						</li> -->
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/github.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">GitHub</p>
          </li>
          <li class="skill-box-content">
            <p class="skill-box-content-image">
              <img src="/images/wordpress.png" alt="" />
            </p>
            <p class="skill-box-content-ttl">WordPress</p>
          </li>
        </ul>
      </div>
    </section>
    <Blog />
    <Swiper />
  </main>
</Layout>
<!-- <script>
  const swiper = new Swiper(".swiper", {
    loop: true,
    slidesPerView: 3,
    speed: 6000,
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      delay: 0, // 途切れなくループ
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script> -->
<style>
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide img {
    height: auto;
    width: 100%;
  }
</style>
