<header>
  <div class="header-content">
    <h1 class="header-content-logo robot">
      <a href="<?php echo home_url('/'); ?>">RYOMA ARIMURA</a>
    </h1>
    <nav class="header-content-menu robot">
      <ul>
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="<?php echo home_url('/blog'); ?>">BLOG</a></li>
        <li><a href="<?php echo home_url('/contact'); ?>">CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <div class="nav-drawer inner">
    <input id="nav-input" type="checkbox" class="nav-unshown" />
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <h1 class="header-content-logo robot">
      <a href="<?php echo home_url('/'); ?>">RYOMA ARIMURA</a>
    </h1>
    <div id="nav-content">
      <ul class="robot">
        <li><a href="/#about">ABOUT</a></li>
        <li><a href="<?php echo home_url('/blog'); ?>">BLOG</a></li>
        <li><a href="<?php echo home_url('/contact'); ?>">CONTACT</a></li>
      </ul>
    </div>
  </div>
</header>
