<section class="value">
  <div class="value-ttl-wrapper bg-[#262626]">
    <div
      class="value-ttl mx-auto w-[58.5%] pt-[13.5rem] pb-[7.8rem] sm:pt-[24rem] sm:pb-[15.8rem]"
    >
      <p
        class="value-ttl-text1 mb-[3.2rem] text-center font-accent text-[2rem] font-bold text-[#7ad6bb] sm:mb-[3.7rem] sm:text-[32px]"
      >
        My Value
      </p>
      <p
        class="value-ttl-text2 mb-[1.6rem] text-center text-[2.4rem] leading-[1.5] text-white sm:mb-[24px] sm:text-4xl sm:leading-[1.33333]"
      >
        継続は力なり
      </p>
    </div>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/others-image2-2x.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/images/others-image4-2x.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="/images/others-image3-2x.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline>
  const swiper = new Swiper(".swiper", {
    loop: true,
    slidesPerView: 3,
    speed: 6000,
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      delay: 0, // 途切れなくループ
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>
<style>
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide img {
    height: auto;
    width: 100%;
  }
</style>
