---
import { BlogsQuery } from "../../libraries/wordpress";
const data = await BlogsQuery();
---

<section class="blog">
  <div class="ttl inner">
    <div class="ttl section-ttl">
      <h2 class="robot ttl-text1">BLOG</h2>
      <p class="ttl-text2 notosans">What I think</p>
    </div>
  </div>
  <ul class="blog-content">
    {
      data.slice(0, 3).map((post: any) => (
        <li class="relative">
          <figure class="blog-image">
            <img
              src={post._embedded["wp:featuredmedia"]["0"].source_url}
              alt={post.title.rendered}
            />
          </figure>
          <dl class="notosans">
            <dt set:html={post.title.rendered} />
            <dd set:html={post.excerpt.rendered.replace("[&hellip;]", "")} />
          </dl>
          <a
            href={"/blogs/" + post.id + ""}
            class="viewmore before:absolute before:inset-0"
          >
            view more
          </a>
        </li>
      ))
    }
  </ul>
  <p class="button-container robot">
    <a href="/blogs/" class="button">MORE</a>
  </p>
</section>
