---
import Button from "../../components/common/Button.astro";
import FadeinContentsWrap from "../../components/common/FadeinContentsWrap.astro";
---

<footer
  class="footer box-border flex h-[44rem] flex-col items-center justify-center bg-main"
  id="footer"
>
  <div>
    <FadeinContentsWrap>
      <p
        class="footer-text mb-16 text-center text-[1.4rem] font-bold text-white sm:text-[2.4rem]"
      >
        制作の依頼、ご相談お気軽にご連絡下さい。
      </p>
      <p class="mt-14 flex items-center justify-center px-5 sm:mt-16">
        <Button href="/contact/" icon="right" label="CONTACT" variant="cta" />
      </p>
    </FadeinContentsWrap>
  </div>
</footer>
