---
import type { LinkType } from "../../types/types";
interface Props {
  links: LinkType[];
}
const { links } = Astro.props;
---

<header
  class="absolute top-0 right-0 left-0 z-10 hidden bg-main p-[10px] text-white sm:block"
>
  <div class="mx-auto hidden w-[86%] py-16 sm:flex sm:justify-between">
    <h1 class="font-accent text-[1.6rem] font-bold">
      <a href="/" class="duration-300 ease-in-out hover:opacity-60"
        >ARIMURA RYOMA</a
      >
    </h1>
    <nav class="header-content-menu font-accent">
      <ul class="flex items-center justify-between gap-8">
        {
          links.map((item) => (
            <li>
              <a
                href={item.href}
                class="relative flex items-center gap-1 px-[0.3em] text-[1.6rem] font-semibold tracking-[0.126em] text-white ease-in-out before:absolute before:-bottom-[0.6rem] before:left-0 before:block before:w-full before:origin-bottom-right before:scale-x-0 before:border-b-[0.2rem] before:border-b-accent before:transition before:duration-700 before:ease-out-expo hover:before:origin-bottom-left hover:before:scale-x-100"
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
