---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="header-main haeder-main-lowerpage">
  <div class="header-main-text haeder-main-lowerpage-content">
    <h2 class="robot haeder-main-lowerpage-content-ttl">{title}</h2>
  </div>
</div>
