---
import type { GetStaticPathsOptions, InferGetStaticPropsType } from "astro";

import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/common/pageHeader.astro";
import Pagination from "../../components/blogs/Pagination.astro";
import { BlogsQuery } from "../../libraries/wordpress";
// import { formattedDate } from "../../utility/formattedDate.js";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const post = await BlogsQuery();
  return paginate(post, { pageSize: 6 });
};
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props;
---

<Layout>
  <PageHeader title={"BLOG"} />
  <main id="main">
    <section class="blog-archive blog mx-auto w-[86%] sm:w-[70%]">
      <div class="blog-archive-container w-full">
        <ul class="blog-content mt-10 sm:grid sm:grid-cols-2 sm:gap-12">
          {
            page.data.map((post: any) => (
              <li class="relative">
                {post._embedded["wp:featuredmedia"] && (
                  <figure class="blog-image h-[16vw]">
                    <img
                      src={post._embedded["wp:featuredmedia"]["0"].source_url}
                      alt={post.title.rendered}
                      class="h-full w-full object-cover"
                    />
                  </figure>
                )}

                <dl class="notosans">
                  <dt>
                    <a href="" set:html={post.title.rendered} />
                  </dt>
                  <dd>
                    <a
                      href=""
                      set:html={post.excerpt.rendered.replace("[&hellip;]", "")}
                    />
                  </dd>
                </dl>
                <a
                  href={"/blogs/" + post.id + ""}
                  class="viewmore before:absolute before:inset-0"
                >
                  view more
                </a>
              </li>
            ))
          }
        </ul>
        <Pagination page={page} pageType={"blogs"} />
      </div>
    </section>
  </main>
</Layout>
